input {
  padding: 5px 15px 5px 15px 
}

.search-btn {
    display: block;
    margin-left: 40%;
}

.btn-style {
    padding-left: 5px;
    background-color: rgb(86, 40, 214);
    color: white; 
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
}

/* thumbnail display */
img {
  margin-top: 10px;

}
 /* around youtube icon */
.display {
  margin-bottom: 10px;
}